@import "./everforest.css";

* {
  font-family: "FiraCode Nerd Font Bold", "Symbols Nerd Font Mono";
  font-size: 18px;
  border: none;
  border-radius: 4px;
  min-height: 20px;
  color: @green;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces {
  background-color: @bg0;
}
.modules-left {
  margin-top: 6px;
  margin-left: 6px;
}
.modules-center {
  margin-top: 6px;
  background-color: @bg0;
  padding-right: 5px;
  padding-left: 5px;
}
.modules-right {
  font-size: 14px;
  margin-top: 6px;
  margin-right: 6px;
}
#tray,
#memory,
#cpu {
  background-color: @bg0;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 6px;
}

#custom-pacman.pending-updates {
  background-color: @bg0;
  margin-right: 6px;
  color: @red;
  padding-left: 5px;
  padding-right: 5px;
}
#systemd-failed-units {
  background-color: @bg0;
  color: @red;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 6px;
}
